/* ============================================= */


/*              Variables                     */


/* ============================================= */

//variable colors
$primary-color: rgba(233, 85, 233, 0.8);
$secondary-color:rgba(119,119,119, .6);

$error: #e4757a;
$info: #927bc1;
$warning: #fd7856;
$success: #63cc82;
//lighten button colors
$primary-color-light: lighten(rgba(30, 10, 105, .8), 30%);
$secondary-color-light: lighten(rgba(119,119,119,0.6), 40%);
//standard colors
$white: whitesmoke;

/*              Typography Variables             */


/* ============================================= */

$primary-font: 'industry-inc-3D', sans-serif;
$font-light: 400;
$font-bold: 700;
$font-italic: italic;
$font-normal: normal;



/*              Others                            */


/* ============================================= */

//breakpoints
$breakpointTablet: 768px;
//breakpoints
$breakpointDesktop: 1075px;
 // cube length
$size: 1000px;