/* ============================================= */
/*              Buttons                          */
/* ============================================= */


#button_toggle{
    // border: 1px solid #c0c0c0;
    height: 20px;
    width: 20px;
    padding: 0;   
    position: absolute;
    right: 50%;
    top: 1%;
}


#toggle_mute:hover{
   border: $primary-color 1px solid;
}

button {
    cursor: pointer;
    background-color: $secondary-color-light;
    outline-style: none;
}

button:hover {
    background-color: $primary-color;
    color: $white;
}

