
/* ============================================= */
/*              Forms                            */
/* ============================================= */

//Site Search section

//search function

.searchBox {    
    height: 2em;
    margin: 2rem;
    background-color: $secondary-color;
    color: black;   
    border-radius: 5px;   
  
    &:hover,
    &:focus {
      background-color: white;
      color: black;
      border: 2px solid black;
      outline: none;
      cursor: inherit;
    }
  }