/* ============================================= */
/*              Grid System                      */
/* ============================================= */



.grid {
  display: grid;
  grid-template-columns: minMax(100px, 1fr);
  grid-template-areas:
    "handwriting"
    "animation"
    "menu"
    "footer"
  ;

  justify-items: center;
}

.textGrid {
  grid-area: handwriting;
  transform: translate(-33%, 0);
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;

}

#animation_container {
  grid-area: animation;
  max-height: 80vh;
  margin: 0 auto;
}

.menu {
  grid-area: menu;
  justify-self: center;
  z-index: 2;
}

.foot {
  grid-area: footer;
  color: $white;
  padding: 1em;
}