/* ============================================= */
/*              Grid System                      */
/* ============================================= */



.grid {
  display: grid;
  grid-template-columns: minMax(100px, 1fr);
  grid-template-areas:
    "handwriting"
    "animation"
    "menu"
    "footer"
  ;
place-items: center;
margin: 0 auto;
}

.textGrid {
  grid-area: handwriting;
  transform: translate(-33%, 0);
  position: absolute;
  top: 15%;
  left: 50%;
  width: 100%;
}

#animation_container {
  grid-area: animation;
max-height: 90vh;
display: flex;
justify-content: center;
}

.menu {
  grid-area: menu;
 
  z-index: 2;
}

.foot {
  grid-area: footer;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1em;
}

