 
/* ============================================= */
/*              Images                           */
/* ============================================= */


/// n

#n1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 319.8162841796875;
  stroke-dashoffset: 319.8162841796875;

  animation: n1Animate 0.4s 0.2s linear forwards, n1Fill 5s .6s linear forwards;

}


@keyframes n1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}


@keyframes n1Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}

//  o1


#o1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 274.7245178222656;
  stroke-dashoffset: 274.7245178222656;

  animation: o1Animate 0.4s 0.6s linear forwards, o1Fill 5s 1s linear forwards;

}

@keyframes o1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes o1Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }

}



//t1
#t1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 199.99998474121094;
  stroke-dashoffset: 199.99998474121094;

  animation: t1Animate 0.4s 1s linear forwards, t1Fill 5s 1.4s linear forwards;

}

@keyframes t1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes t1Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}



//e

#e1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 338.9191589355469;
  stroke-dashoffset: 338.9191589355469;

  animation: e1Animate 0.4s 1.4s linear forwards, n1Fill 5s 1.8s linear forwards;

}

@keyframes e1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes e1Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}


//v

#v1{
  stroke: whitesmoke;
  fill: rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 224.6798553466797;
  stroke-dashoffset: 224.6798553466797;

  animation: v1Animate 0.4s 1.8s linear forwards,v1Fill 5s 2.2s linear forwards;
  
}

@keyframes v1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes v1Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}

//e2

#e2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 338.9191589355469;
  stroke-dashoffset: 338.9191589355469;

  animation: e2Animate 0.4s 2.2s linear forwards, e2Fill 5s 2.6s linear forwards;

}

@keyframes e2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes e2Fill{
  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}


//r1

#r1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 191.15650939941406;
  stroke-dashoffset: 191.15650939941406;

  animation: r1Animate .4s 2.6s linear forwards, r1Fill 5s 3s linear forwards;

}

@keyframes r1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes r1Fill{

  0%{
    fill: rgb(192, 192, 192);
  
  }

  25%{
    fill: rgb(141, 141, 141);

  }
  50%{
    fill: rgb(202,142,142);

  }
  75%{
    fill: rgb(65, 45, 45);

  }
  100%{
        fill: rgb(242,242,242);
        
      }
}


//y

#y{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 195.128173828125;
  stroke-dashoffset: 195.128173828125;

  animation: vAnimate 0.4s 3s linear forwards, o1Fill 5s 3.4s linear forwards;

}

@keyframes vAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}




//t2

#t2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 199.99998474121094;
  stroke-dashoffset: 199.99998474121094;

  animation: t2Animate 0.5s 3.4s linear forwards, o1Fill 0.4s 3.9s linear forwards;

}

@keyframes t2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}




//h1

#h1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 244.91958618164062;
  stroke-dashoffset: 244.91958618164062;

  animation: h1Animate 0.4s 3.9s linear forwards, t1Fill 5s 4.3s linear forwards;

}

@keyframes h1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}



//i1

#i1{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 117.39999389648438;
  stroke-dashoffset: 117.39999389648438;

  animation: i1Animate 0.4s 4.3s linear forwards, e1Fill 5s 4.7s linear forwards;

}

@keyframes i1Animate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// n2

#n2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 319.8162841796875;
  stroke-dashoffset: 319.8162841796875;

  animation: n2Animate 0.4s 4.7s linear forwards, v1Fill 5s 5.1s linear forwards;

}

@keyframes n2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}


/// g

#g{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 307.2387390136719;
  stroke-dashoffset: 307.2387390136719;

  animation: gAnimate 0.4s 5.1s linear forwards, e2Fill 5s 5.5s linear forwards;

}

@keyframes gAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// i2

#i2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 117.39999389648438;
  stroke-dashoffset: 117.39999389648438;

  animation: i2Animate 0.4s 5.5s linear forwards, n1Fill 5s 5.9s linear forwards;

}

@keyframes i2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// s

#s{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 289.74798583984375;
  stroke-dashoffset: 289.74798583984375;

  animation: sAnimate 0.4s 5.9s linear forwards, o1Fill 5s 6.3s linear forwards;

}

@keyframes sAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// b

#b{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 273.5335998535156;
  stroke-dashoffset: 273.5335998535156;

  animation: bAnimate 0.4s 6.3s linear forwards, n1Fill 5s 6.7s linear forwards;

}

@keyframes bAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// l

#l{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;

  animation: lAnimate 0.4s 6.7s linear forwards, t1Fill 5s 7.1s linear forwards;

}

@keyframes lAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// a

#a{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray:257.3144836425781;
  stroke-dashoffset: 257.3144836425781;

  animation: aAnimate 0.4s 7.1s linear forwards, e1Fill 5s 7.5s linear forwards;

}

@keyframes aAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// c

#c{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 237.99777221679688;
  stroke-dashoffset: 237.99777221679688;

  animation: cAnimate 0.4s 7.5s linear forwards, v1Fill 5s 7.9s linear forwards;

}

@keyframes cAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// k

#k{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 280.99725341796875;
  stroke-dashoffset: 280.99725341796875;

  animation: kAnimate 0.4s 7.9s linear forwards, e2Fill 5s 8.3s linear forwards;

}

@keyframes kAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// o2

#o2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 274.7245178222656;
  stroke-dashoffset:274.7245178222656;

  animation: o2Animate 0.4s 8.3s linear forwards, n1Fill 5s 8.7s linear forwards;

}

@keyframes o2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}


/// r2

#r2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 191.15650939941406;
  stroke-dashoffset: 191.15650939941406;

  animation: r2Animate 0.4s 8.7s linear forwards, o1Fill 5s 9.1s linear forwards;

}

@keyframes r2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}


/// w

#w{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 389.9555358886719;
  stroke-dashoffset: 389.9555358886719;

  animation: wAnimate 0.4s 9.1s linear forwards, n1Fill 5s 9.5s linear forwards;

}

@keyframes wAnimate{
  100%{
    stroke-dashoffset: 0;
  }
}



//h2

#h2{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 244.91958618164062;
  stroke-dashoffset: 244.91958618164062;

  animation: h2Animate 0.4s 9.5s linear forwards, t1Fill 5s 9.9s linear forwards;

}

@keyframes h2Animate{
  100%{
    stroke-dashoffset: 0;
  }
}



/// i3

#i3{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;

  animation: i3Animate 0.4s 9.9s linear forwards, e1Fill 5s 10.3s linear forwards;

}

@keyframes i3Animate{
  100%{
    stroke-dashoffset: 0;
  }
}


//t3

#t3{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;

  animation: t3Animate 0.4s 10.3s linear forwards, v1Fill 5s 10.7s linear forwards;

}

@keyframes t3Animate{
  100%{
    stroke-dashoffset: 0;
  }
}



//e3

#e3{
  stroke: whitesmoke;
  fill:rgba(0, 0, 10, 0.8);
  stroke-width: 1;
  stroke-dasharray: 338.9191589355469;
  stroke-dashoffset:338.9191589355469;

  animation: e3Animate 0.4s 10.7s linear forwards, e2Fill 5s 11.1s linear forwards;

}

@keyframes e3Animate{
  100%{
    stroke-dashoffset: 0;
  }
}

