/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 90%;
  margin: 10% auto auto;
  position: relative;
  text-align: center;
  background: rgba(149, 148, 170);
  border-radius: 5px;
  padding: 30px 20px;
  opacity: 0.99;
  z-index: 99;
}

.modalInner {
  margin: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.modalProjectContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.modalProjectIcon {
  padding: 0.5rem;
}

.modalProjectIconHover {
  transition: 0.3s;
}

.modalProjectIconHover:hover {
  border: $white 2px solid;
  border-style: inset;
  border-radius: 5px;
}

.shortDescription {
  font-family: 'reross-quadratic', monospace;
  color: $white;
}

.modalIcon {
  height: 64px;
  width: 64px;
  padding: 10px;
  stroke: $white;
  stroke-width: 2px;
}

#getshotIcon {
  stroke: orange;
}

#dashboardIcon {
  stroke: yellow;
}

#galleryIcon {
  stroke: green;
}

#formsIcon {
  stroke: blue;
}

#gameIcon {
  stroke: red;
}

#firstwebsiteIcon {
  stroke: violet;
}

.modalIcon:hover {
  stroke: $white;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
}

.modal-previous {
  position: absolute;
  left: 15px;
  top: 20%;
}

.modal-next {
  position: absolute;
  right: 15px;
  top: 20%;
}

.extendedDescription {
  white-space: pre-wrap;
  text-align: center;
  margin: 0.5rem auto;
  color: $white;
  font-family: reross-quadratic;
  font-weight: $font-light;
  padding: 0.5rem;
  border: solid 2px;
  border-radius: 5px;
}

.toolTipContainer {
  position: absolute;
  width: 95%;
  min-height: 100px;
  padding: 0.5rem;
}

.toolTipContainer .toolTipTextPages {
  left: 0;

}

.toolTipContainer .toolTipTextRepo {
  right: 0;
}

.extendedModal {
  width: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
}



.extendedModal:hover .toolTipTextPages,
.extendedModal:hover .toolTipTextRepo {
  visibility: visible;
}

.toolTipTextPages,
.toolTipTextRepo {
  position: absolute;
  visibility: hidden;
  top: 0;
  font-family: reross-quadratic, monospace;
  padding: 2px;
  background-color: $secondary-color;
  border-radius: 5px;
}

.toolTipTextPages:hover,
.toolTipTextRepo:hover {
  background-color: $white;
}


.lighthouseContainer {
  display: flex;
  flex-flow: row wrap;
 justify-content: center;   
  font-family: reross-quadratic, monospace;
  margin: 2rem;
  padding: 1rem;
}

.lighthouseGraphicContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  color: $white;
  font-family: reross-quadratic, monospace;
  margin: 1rem;
}

.lighthouseText {
  border-radius: 5px;  
  color:$white;
  background-color: $secondary-color-light; 
  margin: 1rem;
  padding:0.5rem;
}

.score {
  background-color: $white;
  border-radius: 50%;
  padding: 20px;
  margin: 5px;
}