/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 80%;
  margin: 10% auto auto;
  position: relative;
  text-align: center;
  background: rgba(149, 148, 170);
  border-radius: 5px;
  padding: 30px 20px;
  z-index: 99;
}

.modalInner {
  margin: 1rem 2rem;
}

.hidden {
  display: none;
}

.modalProjectContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.modalProjectIcon {
  margin: 1rem;
  padding: 1rem;
}

.modalProjectIconHover:hover {
  border: $white 2px solid;
  border-radius: 5px;
}

.shortDescription {
  font-family: 'reross-quadratic', monospace;
  color: $white;
}

.modalIcon {  
  height: 64px;
  width: 64px;
  padding: 10px;
  stroke: $white;
  stroke-width: 2px;
}

#getshotIcon {
  stroke: orange;
}

#dashboardIcon {
  stroke: yellow;
}

#galleryIcon {
  stroke: green;
}

#formsIcon {
  stroke: blue;
}

#gameIcon {
  stroke: red;
}

#firstwebsiteIcon {
  stroke: violet;
}

.modalIcon:hover {
  stroke: $white;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
}

.modal-previous {
  position: absolute;
  left: 15px;
  top: 50%;
}

.modal-next {
  position: absolute;
  right: 15px;
  top: 50%;
}

.extendedDescription {
  text-align: center; 
  margin: 2rem auto; 
  color: $white;
  font-family: montana-rough;
  font-weight: $font-light;
  padding-right: 1rem;
  padding-left: 1rem;
  border: solid 1px white;
  border-radius: 5px;
}

.toolTipContainer{
  position: absolute;
  top: 50%;  
  width: 66%;
  min-height: 100px;
  }

.toolTipContainer .toolTipTextPages { 
  left: 0;
 
}

.toolTipContainer .toolTipTextRepo { 
  right: 0;  
}

.extendedModal{
  width: 80%; 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
 }


.extendedModal:hover .toolTipTextPages,
.extendedModal:hover .toolTipTextRepo {
  visibility: visible;
}

.toolTipTextPages, .toolTipTextRepo{
  position: absolute;
  visibility: hidden;
  bottom: 0;
  font-family: reross-quadratic;
  padding: 2px; 
  background-color: $secondary-color;
  border-radius: 5px; 
}

.toolTipTextPages:hover, .toolTipTextRepo:hover{ 
  background-color: $white; 
}