
/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
  }
  
  .modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: whitesmoke;
    border: 2px solid rgba(20, 1, 1, 0.6);
    border-radius: 5px;
    padding: 30px 20px;
  }
  
  .hidden {
    display: none;
  }

  