body{
    background-image: radial-gradient(closest-corner at 10%, rgb(1, 0, 3), rgb(13, 5, 49) 1px);
    font-family: $primary-font;
  
 }

.title{
    text-align: center;
    color:$primary-color;   
    font-family: montana-rough;
    font-weight: $font-bold; 
    font-size: 400%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .title-bg{
    text-align: center;
    margin: 0 auto;
    color: $white;
    background-color:  rgba(149, 148, 170, 0.95);   
    border-radius: 5px;
    font-family: reross-quadratic, monospace;
    padding-right: 1rem;
    padding-left: 1rem;
  }
    
  .signature a{
    font-family: 'Liana';
    // font-size: 2rem;
    color: #ca8d8d;    
    margin-bottom: 0.2em;
  }
  .copyright{
    font-family:  reross-quadratic, monospace;
    font-size: 50%;
    color:#ca8d8d;
    opacity: 0.9;
    
    }

  .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
}

.modal-previous {
    position: absolute;
    left: 15px;
    top: 50%;
}

.modal-next {
    position: absolute;
    right: 15px;
    top: 50%;
}