body{
    background-image: radial-gradient(closest-corner at 10%, rgb(1, 0, 3), rgb(13, 5, 49) 1px);
    font-family: $primary-font;
  
 }

.title{
    text-align: center;
    color:$primary-color;   
    font-family: montana-rough;
    font-weight: $font-bold; 
    font-size: 400%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .title-bg{
    text-align: center;
    margin: 0 auto;
    color: $white;
    background-color:  $secondary-color;   
    border-radius: 5px;
    font-family: reross-quadratic, monospace;
    padding-right: 1rem;
    padding-left: 1rem;
  }
    
  .signature {
    font-family: 'Liana';
    font-size: 1rem;
    color: #ca8d8d;    
    margin-bottom: 0.2em;
  }

  .copyright{
    font-family:  reross-quadratic, monospace; 
    font-size: 50%;   
    color:#ca8d8d;
       
    }

   .email {
     display:block;
      font-family: reross-quadratic, monospace;      
      color:$primary-color;
      font-weight: bold;
      background-color: $white;
      padding: 5px;
      margin-bottom: 2px;
      border-radius: 5px;     
      }

