/* ============================================= */


/*              Typography                       */


/* ============================================= */


/* ============================================= */


/*              Base styles                      */


/* ============================================= */

* {
    box-sizing: border-box;   
    
}

p {
    line-height: 1.45em;
}

a {
    text-decoration: none;
}

ol, ul{
    padding: 0;
    margin: 0;
}


li {
    list-style: none;
    padding: 5px;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}

